body{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 200px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
}
.rond{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: yellow;
}
.rond1{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: blue;
}
.navbar2{
    height: 200px;
    width: 100%;
    background-color: yellow;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}
.rond2{
    height: 150px;
    width: 150px;
    border-radius: 10%;
    background-color: black;

}

.im {
    height: 250px;
    width: 100%;
    background-color: bisque;
    display: flex;
     justify-content: space-between;
    align-items: center;
 }
 
.droite {
    height: 190px;
    width: 277px;
    background-color: white;
    border-radius: 10%;
    display: flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }
 .gauche {
    height: 190px;
    width: 277px;
    background-color: white;
    border-radius: 10%;
    display: flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;

 }
.droite img{
    height: 50px;
    width: 100px;
}

.gauche img{
    height: 50px;
    width: 100px;
}
